/*Navigation variables*/
/*index page*/
/*news page*/
/*Structure flex*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MainContent */
.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "PT Mono", monospace;
  background-image: linear-gradient(to bottom, rgba(27, 1, 18, 0.9254901961), #7a0551);
}
.body .main-content {
  min-height: 100vh;
  height: 100%;
}

/*Button dropdow mobile*/
.navbar-toggler {
  border: none !important;
}

/*Index page*/
.team-anim:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s !important;
}

/*News page rate scroll*/
.rate-news {
  padding: 1% 2% 1% 2%;
  background-color: rgba(157, 11, 82, 0.8235294118);
  align-self: center;
  border: 2px solid #000000;
  border-radius: 50px;
  margin: 1% 0 1% 0;
}
.rate-news:hover {
  background-color: #df448f;
  border: 5px solid #d100a4;
  border-radius: 0;
  transition: 350ms;
}

/*Community page-register card*/
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/* NavBar */
header {
  height: 7vh;
}
header .navbar {
  background-color: #9D0B51;
  border-radius: 20px;
  box-shadow: 2px 2px 20px #E44EC3;
}
header .navbar .navbar-brand {
  padding-left: 50px;
}

/*Nav-icon*/
.icon-config {
  width: 30px;
  height: 30px;
}

.nav-link {
  color: aliceblue;
}
.nav-link:hover {
  text-shadow: 3px 3px 10px black;
}

.navbar-collapse {
  font-family: "Istok Web", sans-serif;
}

/*Dropdow menu*/
.dropdown-menu {
  background-color: #9D0B51 !important;
  box-shadow: 2px 2px 20px #E44EC3;
  border-radius: 20px;
  transition: 0.3ms;
}
.dropdown-menu .dropdown-item {
  color: aliceblue;
}
.dropdown-menu .dropdown-item:hover {
  color: #000000;
  text-shadow: 3px 3px 10px black;
  transition: 0, 3ms;
  background-color: transparent;
}

/* Index page */
/* banner */
.img-config {
  width: 100vw;
  height: 90vw;
}

/* title */
.titulo-principal, .titulo-teams {
  margin: 5%;
  background-color: #fffafe;
  border-radius: 500px;
  box-shadow: 5px 5px 1px #000000;
  color: #E44EC3;
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

/* Coments */
.coment-box-1, .coment-box-2, .coment-box-3 {
  margin: 3% 1% 4% 1%;
  border: 2px solid #000000;
  border-radius: 30px 14px 4px 4px;
  overflow: hidden;
  box-shadow: 5px 5px 1px #000000;
}
.coment-box-1 .coment-box-1, .coment-box-1 .coment-box-3, .coment-box-2 .coment-box-1, .coment-box-2 .coment-box-3, .coment-box-3 .coment-box-1, .coment-box-3 .coment-box-3 {
  border-radius: 14px 30px 4px 4px;
}
.coment-box-1 .img-comentarios, .coment-box-2 .img-comentarios, .coment-box-3 .img-comentarios {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*Subtitle index*/
.titulo-teams {
  margin: 2vh 40% 2vh 0;
  padding-left: 20px;
}

/* Cards de teams */
.card {
  color: rgba(245, 245, 245, 0.541);
  background-color: rgba(157, 11, 82, 0.8784313725);
  border: 2px solid #000000;
  box-shadow: 5px 5px 1px #000000;
}

.nuestros-teams {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.nuestros-teams .list-group {
  border: none !important;
}
.nuestros-teams .list-group .list-group-item {
  background-color: inherit;
  border: none !important;
  color: #ff63dd;
}
.nuestros-teams .card-link {
  position: absolute;
  bottom: 0;
  right: 1%;
}

/* Teams Page */
/* Grid Layout of info */
.info-teams {
  margin: 6% 1% 10% 1%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, auto);
  gap: 1%;
  grid-template-areas: "valo" "lol" "fifa" "rocket";
}
.info-teams .valo-team {
  grid-area: valo;
}
.info-teams .lol-team {
  grid-area: lol;
}
.info-teams .fifa-team {
  grid-area: fifa;
}
.info-teams .rocket-team {
  grid-area: rocket;
}

/* Grid inside of grid layout */
.mini-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "title title" "img  parr";
  column-gap: 1%;
  border: 5px solid black;
  color: aliceblue;
  background-color: rgba(255, 81, 217, 0.6039215686);
  box-shadow: inset 10px 10px 70px #9D0B51;
}

.grid-title {
  padding: 1% 0 0 3%;
  grid-area: title;
  font-family: "Istok Web", sans-serif;
}

.grid-p {
  grid-area: parr;
  font-size: 2vh;
}

.grid-image {
  grid-area: img;
}

.img-teams {
  border: 2px solid black;
  height: 20vw;
  width: 30vw;
  display: inline-block;
}

/* News Pages */
.title-news {
  margin: 3% 8% 1% 8%;
  background-color: rgba(185, 65, 159, 0.5764705882);
  border: 6px solid black;
  border-radius: 50px;
  box-shadow: 10px 10px 100px #000000 !important;
}
.title-news .list-news {
  padding-top: 1%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-decoration: none !important;
  list-style: none;
}
.title-news .list-news .nav-link-news {
  color: #f3f3f3;
  font-size: xx-large;
}
.title-news .list-news .nav-link-news:hover {
  color: #000000;
  text-decoration: underline #E44EC3 !important;
  transition: 0.1ms;
}

.games-news {
  display: flex;
  flex-flow: column wrap;
}
.games-news .info-box {
  display: flex;
  flex-flow: column wrap;
  margin: 3% 2% 0 2%;
  background-color: rgb(255, 151, 238);
  border: 7px solid black;
  box-shadow: 10px 10px 100px #000000 !important;
}
.games-news .info-box .text-news {
  padding: 0 1% 0 1%;
  text-align: justify !important;
}
.games-news .info-box .img-news {
  height: 30vw !important;
  width: 55vw !important;
  margin-bottom: 3%;
}
.games-news .info-box .news-media {
  align-self: center;
}

/*Page image*/
.image-title {
  text-align: center;
  color: #E44EC3 !important;
  margin: auto;
  text-decoration: underline;
  text-shadow: 8px 10px 5px rgba(177, 142, 177, 0.637);
}

.carrousel-img {
  margin: 3% 8% 5% 8%;
}

/* Community page */
.register {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  padding: 2% 2% 0 2%;
  background-color: black;
  border-radius: 20px;
  margin: 5% 0% 2% 4%;
  color: aliceblue;
}

.register::before {
  content: "";
  position: absolute;
  height: 660px;
  width: 720px;
  animation: rotation 3.2s linear infinite;
  box-shadow: inset 500px 300px 500px rgb(255, 0, 255);
  filter: blur(200px);
  z-index: -1;
}

.register::after {
  content: "";
  position: absolute;
  z-index: -1;
}

.form-reg {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  align-content: stretch;
  margin-top: 7%;
  font-size: large;
}

.locate {
  margin: 7% 3% 2% 1%;
  color: aliceblue;
  text-decoration: underline #E44EC3;
  text-shadow: 4px 4px 20px rgb(0, 0, 0);
  text-align: start;
  padding-left: 5%;
}

.maps-size {
  padding: 0;
  width: 60vw;
  height: 30vw;
}

/* footer */
.footer {
  margin-top: 5%;
  min-height: 7vh;
  box-shadow: 10px 10px 100px #E44EC3 !important;
}

.nav-foter:hover {
  text-shadow: 5px 5px 5px #E44EC3;
  transition: 0, 3ms;
}

/* Media queries */
/* Grid of teams */
@media (max-width: 1024px) {
  .mini-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "title" "img" "parr";
    row-gap: 1%;
    border: 5px solid black;
    font-family: "Istok Web", sans-serif;
    color: aliceblue;
    background-color: rgba(255, 81, 217, 0.6039215686);
    box-shadow: inset 10px 10px 70px #9D0B51;
  }
  .grid-title {
    padding: 1% 0 0 3%;
    grid-area: title;
  }
  .grid-p {
    text-align: justify;
    padding: 1% 3% 3% 1%;
    grid-area: parr;
    font-size: 1vh;
  }
  .grid-image {
    padding-left: 33.33%;
    grid-area: img;
  }
  .img-teams {
    height: 20vw;
    width: 30vw;
    display: inline-block;
  }
  .footer {
    margin-top: 5%;
  }
  .img-news {
    height: 25vh;
    width: 32.5vh;
  }
}

/*# sourceMappingURL=style.css.map */
