/*Index page*/
.team-anim:hover {
    transform: scale(1.1 , 1.1);
    transition: 0.5s !important;
}

/*News page rate scroll*/
.rate-news{
    padding: 1% 2% 1% 2%;
    background-color: #9d0b52d2;
    align-self: center;
    border: $border-boxes;
    border-radius: $news-border;
    margin: 1% 0 1% 0;
&:hover{
    background-color: #df448f;
    border: 5px solid #d100a4;
    border-radius: 0;
    transition: 350ms;
}
}

/*Community page-register card*/

@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-180deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}