/* footer */

.footer{
    margin-top: 5%;
    min-height: 7vh;
    box-shadow: 10px 10px 100px #E44EC3 !important;
}

.nav-foter:hover{
    text-shadow: 5px 5px 5px #E44EC3;
    transition: 0,3ms;
}
