/* Community page */
.register{
    position: relative;
    overflow: hidden;
    display: $flex;
    flex-flow: $flow-flex-c;
    padding: 2% 2% 0 2%;
    background-color: black;
    border-radius: $radius-nav;
    margin: 5% 0% 2% 4%;
    color: $color-text-nav;

}
    .register::before{
        content: '';
        position: absolute;
        height: 660px;
        width: 720px;
        animation: rotation 3.2s linear infinite;
        box-shadow: inset 500px 300px 500px rgb(255, 0, 255);
        filter: blur(200px);
        z-index: -1;
    }
    .register::after{
        content: '';
        position: absolute;
        z-index: -1;
    }

.form-reg{
    display: $flex;
    flex-flow: $flow-flex-c;
    align-items: flex-start;
    align-content: stretch;
    margin-top: 7%;
    font-size: large;
}


