/*Navigation variables*/
$back-color:#9D0B51;
$color-text-nav: aliceblue;
$radius-nav: 20px;
$shadow-box: 2px 2px 20px #E44EC3;
$shadow-text: 3px 3px 10px black;

/*index page*/
$border-boxes:2px solid #000000;
$title-color: #E44EC3;
$card-shadow: 5px 5px 1px #000000;

/*news page*/
$news-shadow: 10px 10px 100px #000000 !important;
$news-border: 50px;


/*Structure flex*/
$flex: flex;
$flow-flex: row wrap;
$flow-flex-c: column wrap;
$flow-flex-c-nw: column nowrap;