*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MainContent */
.body{
    display: $flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $typo-mono;
    background-image:linear-gradient(to bottom, #1b0112ec, #7a0551);
    .main-content{
    min-height: 100vh;
    height: 100%;
}
}