/*Page image*/
.image-title{
    text-align: center;
    color: #E44EC3 !important;
    margin: auto ;
    text-decoration:underline;
    text-shadow: 8px 10px 5px rgba(177, 142, 177, 0.637);
}
.carrousel-img{
    margin: 3% 8% 5% 8%;
}